.max-vh-50 {
	max-height: 50vh;
}

#map {
	height: 50vh;
}

.leaflet-popup-content {
	margin: 2px;
}

.leaflet-popup-background {
	background-position: center center;
	background-size: cover;
	height: 135px;
	width: 180px;
	border-radius: 8px;
}
.leaflet-popup-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.33);
	border-radius: 8px;
}
.leaflet-popup-title {
	color: white;
	text-decoration: none;
	text-align: center;
}

#location-breadcrumb {
	--bs-breadcrumb-divider: '>';
}
